name: tests
on: push
jobs:
  test: 
    name: test with ${{ matrix.py }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        py:
          - "3.11"
          - "3.12"
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Install Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.py }}
      
      - name: Install SWIG (macOS only)
        if: runner.os == 'macOS'
        run: brew install swig
      
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install tox-gh
      
      - name: Test with tox
        run: tox
